main{
    padding: 1em .8em;
    background: linear-gradient(390deg, rgba(65, 60, 69, 1) 30%, rgba(86, 82, 89, 1) 40%, rgba(189, 184, 191, 1) 100%);
}
.landing__page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
        & img{
            width: 18.2rem;
            height: 18.2rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
        

}
.text__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
        & h1 {
            text-transform: capitalize;
            font-size: var(--fs-xl);
            color: #dedede;
            font-weight: 400;
            letter-spacing: -0.05rem;
            text-align: center;
        }
        & p{
            font-size: var(--fs-md);
            color: #dedede;
            font-weight: 600;
            line-height: 1.5;
        }
}